PORT = 8000
MONGODB_URI = mongodb+srv://adityasoni:Aditya29297@cluster0.g2ng1qj.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = Aditya backend
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = aditya backend

REFRESH_TOKEN_EXPIRY = 10d